<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>429087791209-nscsmeh24h9ae5ui47c46vm8hoef9o8q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.429087791209-nscsmeh24h9ae5ui47c46vm8hoef9o8q</string>
	<key>API_KEY</key>
	<string>AIzaSyDScUCkQT7jeBnppL93L22aoTmmUPqEKyA</string>
	<key>GCM_SENDER_ID</key>
	<string>429087791209</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.passwordmanager</string>
	<key>PROJECT_ID</key>
	<string>passwordmanagerapp-14eca</string>
	<key>STORAGE_BUCKET</key>
	<string>passwordmanagerapp-14eca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:429087791209:ios:45e6b2c6d1ff7809ae6af8</string>
</dict>
</plist>